@use "./partials/reset.scss" as *;
@use "./partials/variables.scss" as *;
@use "./partials/mixin.scss" as *;

.container {
    max-width: 1100px;
}

.container-smaller {
    max-width: 1000px;
    margin: auto;
}
